In [39]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [40]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mount Gambier,AU,2021-10-10 15:58:32,-37.8333,140.7667,42.71,87,40,5.75
1,1,Victoria,HK,2021-10-10 15:56:40,22.2855,114.1577,80.94,91,100,5.99
2,2,Skeldon,GY,2021-10-10 16:00:58,5.8833,-57.1333,91.00,54,94,5.82
3,3,Hilo,US,2021-10-10 15:57:25,19.7297,-155.0900,74.28,96,75,5.99
4,4,Kapaa,US,2021-10-10 16:00:58,22.0752,-159.3190,75.18,75,27,3.00

In [41]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [42]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [43]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat","Lng"]]

In [44]:
# 2. Assign the weights variable to some values.
temperatures = city_data_df["Max Temp"]
temps = []
for temp in temperatures:
    temps.append(max(temp,0))

In [45]:
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))