In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mount Gambier,AU,2021-10-10 15:58:32,-37.8333,140.7667,42.71,87,40,5.75
1,1,Victoria,HK,2021-10-10 15:56:40,22.2855,114.1577,80.94,91,100,5.99
2,2,Skeldon,GY,2021-10-10 16:00:58,5.8833,-57.1333,91.00,54,94,5.82
3,3,Hilo,US,2021-10-10 15:57:25,19.7297,-155.0900,74.28,96,75,5.99
4,4,Kapaa,US,2021-10-10 16:00:58,22.0752,-159.3190,75.18,75,27,3.00

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat","Lng"]]

In [6]:
# 2. Assign the weights variable to some values.
temperatures = city_data_df["Max Temp"]
temps = []
for temp in temperatures:
    temps.append(max(temp,0))

In [13]:
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Victoria,HK,2021-10-10 15:56:40,22.2855,114.1577,80.94,91,100,5.99
4,4,Kapaa,US,2021-10-10 16:00:58,22.0752,-159.3190,75.18,75,27,3.00
6,6,Pundaguitan,PH,2021-10-10 16:00:59,6.3711,126.1689,84.43,71,100,7.94
11,11,Mitsamiouli,KM,2021-10-10 16:01:00,-11.3847,43.2844,77.20,82,43,5.23
16,16,Pandan,PH,2021-10-10 16:01:02,14.0453,124.1694,80.46,85,92,11.07
17,17,Butaritari,KI,2021-10-10 16:01:03,3.0707,172.7902,81.50,72,18,14.50
18,18,Dingle,PH,2021-10-10 16:01:04,10.9995,122.6711,75.61,93,100,8.41
21,21,Atuona,PF,2021-10-10 16:01:04,-9.8000,-139.0333,78.01,71,4,18.45
35,35,Ponta Do Sol,PT,2021-10-10 16:01:07,32.6667,-17.1000,75.83,70,7,2.53
37,37,Hithadhoo,MV,2021-10-10 16:01:08,-0.6000,73.0833,83.62,68,80,13.04

In [22]:
preferred_cities_df.notnull().sum()

City_ID       155
City          155
Country       153
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

In [24]:
preferred_cities_df = preferred_cities_df.dropna()

In [25]:
preferred_cities_df.notnull().sum()

City_ID       153
City          153
Country       153
Date          153
Lat           153
Lng           153
Max Temp      153
Humidity      153
Cloudiness    153
Wind Speed    153
dtype: int64

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1       Victoria      HK     80.94  22.2855  114.1577
4          Kapaa      US     75.18  22.0752 -159.3190
6    Pundaguitan      PH     84.43   6.3711  126.1689
11   Mitsamiouli      KM     77.20 -11.3847   43.2844
16        Pandan      PH     80.46  14.0453  124.1694
17    Butaritari      KI     81.50   3.0707  172.7902
18        Dingle      PH     75.61  10.9995  122.6711
21        Atuona      PF     78.01  -9.8000 -139.0333
35  Ponta Do Sol      PT     75.83  32.6667  -17.1000
37     Hithadhoo      MV     83.62  -0.6000   73.0833

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
print("End of search")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
End of search

In [31]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Victoria,HK,80.94,22.2855,114.1577,Mini Hotel Central
4,Kapaa,US,75.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
6,Pundaguitan,PH,84.43,6.3711,126.1689,Leonardo Family Beach House 1
11,Mitsamiouli,KM,77.20,-11.3847,43.2844,Foyer ADM
16,Pandan,PH,80.46,14.0453,124.1694,Bonifacio Lodge
17,Butaritari,KI,81.50,3.0707,172.7902,Isles Sunset Lodge
18,Dingle,PH,75.61,10.9995,122.6711,SEGAYA PROPERTY
21,Atuona,PF,78.01,-9.8000,-139.0333,Villa Enata
35,Ponta Do Sol,PT,75.83,32.6667,-17.1000,Hotel do Campo
37,Hithadhoo,MV,83.62,-0.6000,73.0833,Scoop Guest House

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [35]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))